crash-reports/
debug/
disabledmods/
instance.json
jarmods/
ldlib/
local/
logs/
modernfix/
mods/
options.txt
patchouli*
resourcepacks/
rhino.local.properties
saves/
user*
Xaero*
xaero*
*.bak
config/*
!config/incontrol/spawn.json
!config/worldstripper/stripper.json
!config/gtceu
!config/blue_skies-client.toml
!config/ae2/client.json
gtceu/*
icon.png
screenshots/
shaderpacks/
config/loadmychunks.json5
config/oculus.properties
config/lithostitched.json
