
crash-reports/
debug/
disabledmods/
instance.json
jarmods/
ldlib/
local/
logs/
modernfix/
mods/
options.txt
patchouli*
resourcepacks/
rhino.local.properties
saves/
user*
Xaero*
xaero*
config/roughlyenoughitems/
config/xaero*

config/ad_astra-client.jsonc

config/ae2/common.json

config/aeroblender-common.toml

config/aether/aether_customizations.txt

config/aether/sun_altar_whitelist.json

config/apotheosis/adventure.cfg

config/apotheosis/apotheosis.cfg

config/apotheosis/ench.cfg

config/apotheosis/garden.cfg

config/apotheosis/potion.cfg

config/apotheosis/spawner.cfg

config/apotheosis/village.cfg

config/appleskin-client.toml

config/blue_skies-common.toml

config/comforts-server.toml

config/computercraft-client.toml

config/constructionwand-client.toml

config/cookingforblockheads-common.toml

config/craftingtweaks-common.toml

config/cumulus_menus-client.toml

config/curios-common.toml

config/de/mari_023/ae2wtlib.json5

config/deep_aether-client.toml

config/deep_aether-common.toml

config/embeddium-fingerprint.json

config/embeddium-mixins.properties

config/embeddium-options.json

config/enchdesc.json

config/enderchests-client.toml

config/enderchests.toml

config/endertanks-client.toml

config/endertanks.toml

config/farmersdelight-client.toml

config/farmersdelight-common.toml

config/farmingforblockheads-common.toml

config/fastsuite.cfg

config/ferritecore-mixin.toml

config/fml.toml

config/forge-client.toml

config/framedblocks-common.toml

config/functionalstorage/functionalstorage-client.toml

config/functionalstorage/functionalstorage-common.toml

config/hostilenetworks.cfg

config/inventorysorter-client.toml

config/jeed-client.toml

config/letmedespawn.json

config/lithium.properties

config/lootr-client.toml

config/lucent-client.toml

config/measurements-client.toml

config/megacells.json

config/merequester-common.toml

config/modernfix-common.toml

config/modernfix-mixins.properties

config/morered-client.toml

config/MouseTweaks.cfg

config/naturescompass-client.toml

config/naturescompass-common.toml

config/sebastrnlib-client.toml

config/shetiphiancore-client.toml

config/shetiphiancore.toml

config/sidebar_buttons.json

config/simplygraves-common.toml

config/smoothboot.json

config/solapplepie-client.toml

config/stoneworks-common.toml

config/structure_gel-client.toml

config/structure_gel-common.toml

config/structurecompass-common.toml

config/tectonic.json

config/titanium/titanium-tags.toml

config/titanium/titanium.toml

config/undergarden-client.toml

config/undergarden-common.toml
